.feature{
    margin-right:75px;
    border-radius:5%;
    color:lab(100% 0.01 -0.01);
    background:transparent;
    opacity:50%;
    border:0px solid grey;
    outline:none;
    font-weight:600;
    font-size:15px;
    z-index:700;
    cursor:auto !important;
}

.starStyle{
    color: rgb(189, 150, 25) !important;
}

.todo{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.pop1{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 100px;
    box-sizing: border-box;
}